input {
  font-family: inherit;
  font-size: 100%;
  width: 248px;
  padding: 8px 16px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
}

input:focus {
  background: rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.custom-input {
  border: 1px solid grey;
  border-radius: 4px;
  margin: 4px;
}

.custom-input-button {
  cursor: pointer;
  background-color: grey;
  color: white;
  border-radius: 4px;
  transition: 0.2s;
  margin: 0px 4px;
}

.custom-input-button:hover {
  background-color: rgb(253, 123, 76);
  transition: 0.2s;
  color: rgb(31, 31, 31);
}

.no-account {
  margin: 16px 0px;
}
