{% extends "pairs/layout.html" %}
{% load static %}

{% block body %}
<div class="rules">
  <h1 class="rules-title">Rules page</h1>

  <p>1. How to play?
  <br><br>
  Pair up is a memory game where you need to match pairs of cards. Playing is very simple - you turn over one card and then try to find a matching card. You win and score, after you have turned all cards.
  <br><br>
  2. What if I want a quick game?
  <br><br>
  You can choose difficulty level at the beginning of each game. There are three levels, which increase the number of cards. Easy means 8 cards, normal is 12 cards and if you like a challenge, go for difficult and 16 cards.
  <br><br>
  3. I do not like the cards' pictures.
  <br><br>
  You can choose what cards to play with on the settings page. The settings will be saved for your next visit, provided you use the same machine and browser. There are currently three different sets of cards.</p>
</div>
{% endblock %}

{% block script %}

{% endblock %}